topBar{
  display: flex;
  flex-direction: column;
  
  width: 100%;
  heigth: 100%;
}

titleBar{
  display: flex;
  flex-direction: column;
  
  width: 100%;
  heigth: 10px;
  
  background-color: red;
}

menuBar{
  display: flex;
  flex-direction: column;
  
  width: 100%;
  heigth: 20px;
  
  background-color: yellow;
}

menu{ 
  display: flex;
  
  
  width: 100%;
}

standardPanel{
  display: flex;
  flex-direction: column;
  
  width: 100%;
  heigth: 20px;
  
  background-color: green;
}

standardPanel{
  display: none;
}

formattingPanel{
  display: none;
}

textEditor{
  display: flex;
  
  width: 200px;
  height: 200px;
  
  background-color: blue;
}
*/
  <leftMenu></leftMenu>
  <workPalce>
   <tabBar></tabBar>
   <workArea>
    <markup></markup>
    <lineNum></lineNum>
    <textEditor contenteditable="true"></textEditor>
   </workArea>
  </workPlace
  <bottomBar>
   <statusBar></statusBar>
   </bottomBar>/*
